<h1>New news</h1>

<%= form_with model: @News do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% @news.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :content %><br>
    <%= form.text_area :content %>
    <% @news.errors.full_messages_for(:content).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>



  <div>
    <%= form.submit %>
  </div>
<% end %>


<%= render "form", news: @news %>

<br>

<div>
  <%= link_to "Back to news", news_index_path %>
</div>
